<div id="comment-">
    <div class = "comment-main">
        <div class="authorInfor">
            <section>
                <p class="authour">Author: {{username}}</p>
            </section>
            <section >
                <p class="CreateTime"> Creation time: {{created}}</p>
            </section>
        </div>

        <div class="commentInfor">
            <div id="comment-description" class="lead">{{comment}}</div>
        </div>
    </div>
</div>