<div class="topbar">
    <a class="topbar-text" href="/home"> <img src = "\public\favicon.ico" style = "width:70px; height:50px"> </a>

    <div class="topbar-bottom" onclick = "window.open('/viewpost','_self')"> Post </div>

    <div class="topbar-bottom" onclick = "window.open('/postimage','_self')"> New Post </div>

    <!--replace classes, show login while not user or user name if logged-->
    {{#if logged}}
    <div class="topbar-user" id = "topbar-user" onclick = "window.open('/logout','self')">
    </div>
    {{else}} 
    <div class="topbar-login" onclick = "window.open('/login','_self')"> Login </div>
    {{/if}}
</div>