<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
  <link rel='stylesheet' href='/public/stylesheets/style.css' />
  <link rel='stylesheet' href='/public/stylesheets/topbar.css' />
  <link rel='stylesheet' href='/public/stylesheets/loginSet.css' />
  <link rel='stylesheet' href='/public/stylesheets/regist.css' />
  <link rel='stylesheet' href='/public/stylesheets/viewpost.css' />
  <link rel='stylesheet' href='/public/stylesheets/postimage.css' />
  <link rel='stylesheet' href='/public/stylesheets/topbarPlaceholder.css' />
  <link rel='stylesheet' href='/public/stylesheets/flashmassage.css' />
  <link rel='stylesheet' href='/public/stylesheets/card.css' />

  <!--<script defer src="/public/js/flashmassage.js"></script>-->
  <script defer src="/public/js/frontend.js"></script>
</head>
<!--massagee at the op of all element -->
{{#if (emptyObject messages)}}
{{> flashmassage}}
{{/if}}

<!-- moveble topbar-->
{{> topbarPlaceholder}}
{{> topbar}}

<body>
  {{{body}}}

  {{#if logged}}
  {{!-- <script>
    document.getElementById("topbar-user").innerHTML = "username";
  </Script> --}}
  {{else}}
  <script>
    document.getElementById("topbar-user").innerHTML = "";
  </script>
  {{/if}}
</body>

</html>