<form method="post" action="/users/login" >
    <fieldset id="loginSet">
        <p>Username: <input class = "login-input" type="text" name="username" required = "TRUE"></p>
        <p>Password: <input class = "login-input" type="password" name="password" required = "TRUE"></p>

        <button type="submit" id = "login"> Sign In</button>
        <button id ="forget" onclick = "window.open('/login','_self')"> Forget Password</button>
        <p id= "login-reg">Do not have an account? <a href="/registration"> Regesiter </a></p>
    </fieldset>
</form>