<form class="post" method="POST" enctype="multipart/form-data" action='/posts/createPost' >
    <div class="mid">
        <div>
            <p>Title:</p>
            <input class="title" type="text" name="title" required="required">
            <p>Description:</p> <input class="description" type="textarea" name="description" required="required"></textarea>
            <p>Upload image: &nbsp <input name = "uploadImage" type="file" value="Upload Image" accept="image/*" required>
            <p>
            <p><input type="checkbox" name="accept" value="PrivacyRules">I am accept to&nbsp<a href="?2"> Acceptable
                    Use Policy</a></p>
            <button class= "submition" type="" value="Submit"> Submit </button>
        </div>
    </div>
</form>