<form action="postimage.html" method="get">
    <div>
        <div class="left">
        </div>
        <div class="mid">
            <div class="post">
                <p>Title: </p>
                <input class="title" type="text" name="Title" required="required">
                <p>Description:</p> <textarea id="Description"></textarea>
                <p>Upload image: &nbsp <input type="file" value="Upload Image" accept="image/*">
                <p>
                <p><input type="checkbox" name="accept" value="PrivacyRules">I am accept to&nbsp<a href="?2"> Acceptable
                        Use Policy</a></p>
                <p><input type="submit" value="Submit"></p>
            </div>
        </div>
        <div class="right">
        </div>
    </div>
</form>