<div>
    <div class="posttitle">
        <div><h2>Title</h2></div>
    </div>

    <div>
        <div class="authorInfor">
            <section>
                <p>Author: Author Infor</p>
            </section>
            <section>
                <p> Creation time: Time
                <p>
            </section>
        </div>

        <div class="postInfor">
            <section><img class="image" src="exampleP.jpg" alt="example image"></section>
        </div>
    </div>
</div>