<div class = "container">

    <div class="posttitle">
        <div><h2>Title</h2></div>
    </div>

    <div class = "post">
        <div class="authorInfor">
            <section>
                <p class="authour">Author: Author Infor</p>
            </section>
            <section >
                <p class="CreateTime"> Creation time: Time</p>
            </section>
        </div>

        <div class="postInfor">
            <section><img class="image" src="/public\image\exampleP.jpg" alt="example image"></section>
        </div>
    </div>

</div>