#flash-message {
    width: 100%;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 9999;
}

#flash-message div {
    width: 70%;
    height: 100px;
    font-size: 24px;
    font-weight: 1200;
    text-align: center;
    line-height: 100px;
    z-index: auto;
}

.alert_danger {
    background-color: red;
}

.alert_success {
    background-color: green;
}

.alert_info {
    background-color: rgba(0, 100, 100, 0.9);
    color: white;
}