body{
    background-image:url("resources/background.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed
}
#container{
    display: grid;
    grid-template-rows: repeat(10,300px);
    grid-template-columns: repeat(5,18%);
    gap: 12px 12px;
    justify-content: center;
    text-align: center;
    width:auto;
}
img{
    border-style:ridge;
    border-width:5px;
}
h1{
    text-align: center;
}