fieldset {
    width: 20%;
    height: 30%;
    background-color: #f8b44d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submission {
    left: 0%;
}

.forgetPass {
    margin-left: 20%;
}

.register {
    text-align: center;
}