.post {
    border-style: ridge;
    border-width: 5px;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 100px;
}

.mid p {
    margin-left: 50px;
}

.title {
    margin-left: 50px;
    width: 80%;
    height: 20px;
}

.mid textarea {
    margin-left: 50px;
    resize: none;
    width: 80%;
    height: 200px;
}

#Description {
    height: 100 px;
    width: 100 px;
}