body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("/public/image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin-left: 0%;
    position: absolute;
}

a {
    color: #00B7FF;
}