.posttitle {
    margin-top: 50px;
    border-style: ridge;
    border-width: 5px;
}

.h2 {
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.authorInfor {
    width: 20%;
    height: 300px;
    float: left;
    margin-left: 1%;
    margin-top: 5px;
    background-color: #FFE4C4;
    opacity: 1.0;
    border-style: ridge;
    border-width: 5px;
}

.authorInfor p {
    margin-left: 10%;
    margin-top: 25px;
}

.postInfor {
    width: calc(79% - 70px);
    height: 300px;
    background-color: #FFE4C4;
    float: right;
    margin-top: 5px;
    margin-right: 1%;
    border-style: ridge;
    border-color: red;
    border-width: 5px;
}

.image {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}